@{
    Layout = "_Layout";
}

@{
    string GetPath(string page)
    {
        string baseURL = string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.PathBase);
        return baseURL + "/" + page;
    }
}




<div class="menu">
    <a class="FReadines" href='@GetPath("FReadines")'>Features rediness</a>
    <a class="UHistory" href='@GetPath("UHistory")'>User stories history</a>
    <a class="UCloseInRelease" href='@GetPath("UCloseInRelease")'>Closed in release</a>
    <a class="UCloseInTime" href='@GetPath("UCloseInTime")'>User stories closed in time</a>
    <a class="TCloseInTime" href='@GetPath("TCloseInTime")'>Tasks closed in time</a>
</div>


