@page
@model EstimationsModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div id="controls">
        <select id="releases">
            @foreach (var item in Model.Releases)
            {
                if (@item == Model.CurrentRelease)
                {
                    <option value="@item" selected>@item</option>
                }
                else
                {
                    <option value="@item">@item</option>
                }
            }
        </select>

        <select id="areapath">
            @foreach (var item in Model.Teams)
            {
                <option value="@item">@item</option>
            }
        </select>

        <input type="text" id="datepicker" size="30">

        <button id="go">GO</button>
    </div>


    <table id="ALL" class="data-table"> </table>

   


    <script>
        function DrawTable(items, tag) {
            $("#" + tag).empty();
            $("#" + tag).append('<tr>' + 
                '<td>ID</td><td>Title</td><td>NET(F)</td><td>NET(US)</td><td>NET(Task)</td>' + 
                '<td>DB(F)</td><td>DB(US)</td><td>DB(Task)</td>' + 
                '<td>FE(F)</td><td>FE(US)</td><td>FE(Task)</td>' + 
                '<td>QA(F)</td><td>QA(US)</td><td>QA(Task)</td>' + 
                '<td>QAA(F)</td><td>QAA(US)</td><td>QAA(Task)</td>' + 
                '</tr>');
            $(items).each(function (index, value) {
                $("#" + tag).append('<tr><td>' + GetIDLink(value.id) + '</td>' + 
                    '<td>' + value.title + '</td><td>' + value.netf + '</td><td>' + value.netus + '</td><td>' + value.netTask + '</td>' + 
                    '<td>' + value.dbaf + '</td><td>' + value.dbaus + '</td><td>' + value.dbaTask + '</td>' + 
                    '<td>' + value.fef + '</td><td>' + value.feus + '</td><td>' + value.feTask + '</td>' + 
                    '<td>' + value.qaf + '</td><td>' + value.qaus + '</td><td>' + value.qaTask + '</td>' + 
                    '<td>' + value.qaaf + '</td><td>' + value.qaaus + '</td><td>' + value.qaaTask + '</td>' +
                '</tr>');
            });
        }

        function GetIDLink(ID)
        {
            return  "<a target='_blank' href='@Model.ItemURL" + ID + "'>" + ID + "</a>";
        }

       
        $(document).ready(function () {

            $("#datepicker").datepicker();
            $("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");

            $("#go").click(function () {
                $.ajax("api/Features/GetFeaturesRecursive?release=" + $("#releases").val() + "&date=" + $("#datepicker").val() + "&areapath=" + $("#areapath").val()).done(function (info) {
                    DrawTable(info, "ALL");
                });
            });

            $.ajax("api/Features/GetFeaturesRecursive").done(function (info) {
                DrawTable(info, "ALL");
            });


        });


    </script>



</div>
