@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div>
    <a href="@Request.Scheme://@Request.Host/UHistory" class="UHistory menubtn"></a>
    <a href="@Request.Scheme://@Request.Host/UCloseInRelease" class="UCloseInRelease menubtn"></a>
    <a href="@Request.Scheme://@Request.Host/FReadines" class="FReadines menubtn"></a>
    <a href="@Request.Scheme://@Request.Host/FHistory" class="FHistory menubtn"></a>
    <a href="@Request.Scheme://@Request.Host/HighBugs" class="HighBugs menubtn"></a>
    <a href="@Request.Scheme://@Request.Host/UCloseInTime" class="UCloseInTime menubtn"></a>

</div>
