@page
@model TCloseInTimeModule
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div id="controls">
        <select id="releases">
            @foreach (var item in Model.Releases.Select(a => a.ReleaseName))
            {
                if (@item == Model.CurrentRelease)
                {
                    <option value="@item" selected>@item</option>
                }
                else
                {
                    <option value="@item">@item</option>
                }
            }
        </select>

        <select id="areapath">
            @foreach (var item in Model.Teams)
            {
                <option value="@item">@item</option>
            }
        </select>

        <button id="go">GO</button>
    </div>


    <table id="ALL" class="data-table"> </table>



    <script>


        function DrawTable(info, tag) {
            $("#" + tag).empty();
            $("#" + tag).append('<tr class="table_header"><td>&nbsp;</td><td>ID</td><td>Title</td><td>Assignd to</td><td>Orininal</td><td>Completed</td></tr>');
            $(info).each(function (index, value) {
                $("#" + tag).append('<tr class="' + GetClassName(value.fields['Microsoft.VSTS.Scheduling.OriginalEstimate'], value.fields['Microsoft.VSTS.Scheduling.CompletedWork']) + '"><td class="status">&nbsp;</td><td>' + value.id + '</td>' + 
                '<td>' + value.fields['System.Title'] + '</td><td>' + GetDisplayName(value.fields['System.AssignedTo']) + '</td>' + 
                '<td>' + GetFieldValue(value.fields, 'Microsoft.VSTS.Scheduling.OriginalEstimate') + '</td><td>' + GetFieldValue(value.fields, 'Microsoft.VSTS.Scheduling.CompletedWork') + '</td></tr>');
            });
        }

        function GetClassName(original, completed) {
            var className = "undefined";
            if (original != null && completed != null) {
                if (completed > original) {
                    className = "delayed";
                }
                else {
                    className = "intime";

                    var persentage = completed/original;
                    if (persentage <= 0.8)
                    {
                        className += " earlier";
                    }
                }
            }

            return className;
        }

         function GetDisplayName(field) {
            var result = "";
            if (field != null) {
                result = field.displayName;
            }
            return result;
        }

        function GetFieldValue(fields, fieldName) {
            var result = "";
            
            var isExists = fields.hasOwnProperty(fieldName);
            
            if (isExists) {
                result = fields[fieldName];
            }
            return result;
        }

        $(document).ready(function () {

            $("#go").click(function () {
                $.ajax("api/Tasks/?release=" + $("#releases").val() + "&areapath=" + $("#areapath").val()).done(function (info) {
                    DrawTable(info, "ALL");
                });
            });

            $.ajax("api/Tasks/?release=" + $("#releases").val() + "&areapath=" + $("#areapath").val()).done(function (info) {
                DrawTable(info, "ALL");
            });

        });


    </script>



</div>
